.skills-section {
  padding: 50px 20px;
  background-color: white;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  z-index: 1; /* Ensure it’s above other elements */
  position: relative; /* Required for z-index to work */
}
body{
  background-color: white;
}

.skills-section h2 {
  font-size: 30px;
  color: #4b0082;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.skills-category {
  margin-bottom: 50px;
}

.skills-category h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.skill span {
  font-size: 18px;
  color: #4b0082;
  display: flex;
  align-items: center;
}

.skill span .icon {
  margin-right: 10px;
  font-size: 22px;
}

.skill-bar {
  width: 60%;
  height: 12px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.skill-level {
  height: 100%;
  background-color: #6c5b7b;
  border-radius: 6px;
  transition: width 0.6s ease-in-out;
}

.skill-level:hover {
  background-color: #db7fcd; 
}


@media (max-width: 768px) {
  .skills-section {
    padding: 30px 10px;
  }

  .skills-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .skills-category h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .skill-bar {
    width: 50%;
  }

  .skill span {
    font-size: 16px;
  }
}
